services:
  # --- SERVICIO PRINCIPAL: KEDRO + SPARK ---
  kedro-spark:
    build: .
    image: lomar-kedro-img
    container_name: lomar_spark_env
    ports:
      - "4040:4040" # Spark UI
      - "4141:4141" # Kedro Viz
    environment:
      # 1. Configuración interna
      - SPARK_MASTER=local[*]
      
      # 2. INYECCIÓN DE SECRETOS (Dinámico desde .secrets.sh)
      - SQL_USER=${SQL_USER}
      - SQL_PASSWORD=${SQL_PASSWORD}
      
      # 3. LLAVE GOOGLE (Dinámico)
      # Docker recibirá "lomar-bibucket...json". 
      # Como hooks.py busca en la carpeta actual (/app), esto funciona perfecto.
      - GCP_KEY_PATH=${GCP_KEY_PATH}

    volumes:
      # A. CÓDIGO Y ARCHIVOS (Incluye el .json de Google)
      - .:/app
      
      # B. SEGURIDAD (Ocultar secretos del sistema operativo)
      - /dev/null:/app/.secrets.sh
      
      # C. ESTABILIDAD (Ocultar el entorno virtual local)
      # Esto evita que Docker se confunda con tus librerías locales.
      # Docker usará las que instaló él mismo en el paso de Build.
      - /dev/null:/app/venv 

  # --- SERVICIO ORQUESTADOR: AIRFLOW ---
  airflow:
    image: apache/airflow:2.7.1-python3.10
    container_name: lomar_airflow_env
    command: standalone
    ports:
      - "8081:8080"
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    volumes:
      - .:/opt/airflow
      # Misma protección para Airflow
      - /dev/null:/opt/airflow/venv
      - /dev/null:/opt/airflow/.secrets.sh