services:
  # --- SERVICIO PRINCIPAL: KEDRO + SPARK ---
  kedro-spark:
    build: .
    image: lomar-kedro-img
    container_name: lomar_spark_env
    ports:
      - "4040:4040" # Spark UI (Monitor de trabajos)
      - "4141:4141" # Kedro Viz (Gráfico del pipeline)
    environment:
      # 1. Configuración interna de Spark
      - SPARK_MASTER=local[*]
      # 2. INYECCIÓN DE SECRETOS (Vienen de tu terminal 'source')
      - SQL_USER=${SQL_USER}
      - SQL_PASSWORD=${SQL_PASSWORD}
      # 3. RUTA FIJA INTERNA (El JSON ya vive en /app dentro del container)
      - GCP_KEY_PATH=/app/lomar-bibucket-b85f25ba9058.json
    volumes:
      # EL MAPEO MÁGICO:
      # Esto hace que tu carpeta local "." se vea en "/app" dentro del container.
      # Si cambias código en VS Code, cambia dentro del Docker al instante.
      - .:/app
      
      # SEGURIDAD BLINDADA:
      # Esto "oculta" el archivo de secretos dentro del contenedor.
      # Aunque esté en tu carpeta local, dentro del docker se verá vacío o inaccesible.
      - /dev/null:/app/.secrets.sh

  # --- SERVICIO ORQUESTADOR: AIRFLOW ---
  airflow:
    image: apache/airflow:2.7.1-python3.10
    container_name: lomar_airflow_env
    command: standalone
    ports:
      - "8081:8080" # Airflow UI en el puerto 8081
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    volumes:
      - .:/opt/airflow
      # HACK DE COMPATIBILIDAD:
      # Airflow usa Python 3.10, tu venv es 3.12.
      # Esto evita que Airflow intente leer tu venv local y explote.
      - /dev/null:/opt/airflow/venv