# --- NÚCLEO Y EXPLORACIÓN ---
ipython==8.10
jupyterlab==3.0
notebook==7.5.3
scikit-learn==1.5.1

# --- KEDRO (Pipeline & Viz) ---
kedro[jupyter]==1.2.0
kedro-datasets==9.1
kedro-viz==6.7.0
kedro-airflow==0.7.0
kedro-docker==0.6.0
kedro-datasets[spark]==9.1.0

# --- PROCESAMIENTO (Músculo) ---
pyspark==3.5.0

# --- CONECTIVIDAD NUBE (Data Lake) ---
gcsfs==2026.2.0
fsspec==2026.2.0
s3fs==2026.2.0